.App {
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
}

header {
  height: 135px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.logo {
  width: 340px;
  height: 125px;
}

.m-t-20 {
  margin-top: 30px;
}

.largeLogo {
  width: 600px;
  height: 500px;
}

.switchArrow {
  width: 28px;
  height: 31px;
}

.eth {
  width: 20px;
  height: 20px;
  padding-right: 10px;

}

.leftH {
  display: flex;
  align-items: center;
  gap: 20px;
}

.rightH {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.headerItem {
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  font-weight: 500;
  transition: 0.3s;
  display: flex;
  align-items: center;
}

.headerItem:hover {
  background-color: rgb(34, 42, 58);
  cursor: pointer;
}

.connectButton {
  transition: 0.3s;
  width: Hug (241px);
  height: Fixed (54px);
  top: 77px;
  left: 1193.5px;
  padding: 15px 30px 15px 30px;
  border-radius: 2px;
  gap: 20px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #C3ED1C;
  background: linear-gradient(0deg, #0B0B38, #0B0B38),
    linear-gradient(0deg, #D0CECE, #D0CECE);
  border: 0.5px solid #D0CECE;
}

.btn-later {
  color: #D0CECE;
}

.connectButton:hover {
  cursor: pointer;
  color: #3b4874
}

.mainWindow {
  height: calc(100vh - 170px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoText {
  font-size: 25px;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: 0.2em;
}

.link {
  text-decoration: none;
  color: white;
}

.inputBox {
  font-size: 32px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: right;
  width: 438px !important;
  height: 83px;
  background-color: rgb(11, 11, 54) !important;
  border: 0px 0px 0.75px 0px !important;
  color: white;
  padding: 16px;
  border-right: 0px;
}

.inputBox::placeholder {
  color: #5f6783 !important;
}

.tradeBox {
  width: 473px;
  /* height: 395px; */
  background: linear-gradient(0deg, #030335, #030335),
    linear-gradient(0deg, rgba(213, 239, 112, 0.5), rgba(213, 239, 112, 0.5));

  border: 1px solid #D5EF7080;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: 0px 0px 42px 15px #A7CF0AA8;
}


.tradeBoxHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 433px;
}

.cog {
  color: #51586f;
  transition: 0.3s;
}

.cog:hover {
  color: white;
  rotate: 90deg;
  cursor: pointer;
}

.switchButton {
  align-items: center;
  justify-content: center;
  display: flex;
  position: absolute;
  top: 101px;
  left: 231px;
  font-size: 12px;
}

.circle {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #123456;
  /* change this to the color you want */
  border-radius: 50%;
  /* makes it circular */
}

.dollarAmount {
  position: absolute;
  top: 75px;
  left: 14px;
  font-size: 10px;
  color: #5F6783;
}

.switchButton:hover {
  color: white;
  cursor: pointer;
}

.inputs {
  position: relative;
}

.asset {
  position: absolute;
  min-width: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  font-size: 16px;
  width: 168px;
  height: 24px;
  left: 19px;
  padding: 12px;
  border: 0.5px solid #D0CECE;
}

.asset_2 {
  position: absolute;
  font-weight: 600;
  font-size: 16px;
  left: 19px;
}

.balanceText {
  position: absolute;
  height: 15px;
  gap: 4px;
  left: 19px
}

.assetOne {
  top: 19px;
}

.balanceTextOne {
  top: 62px;
}

.assetTwo {
  top: 134px;
}

.balanceTextTwo {
  top: 177px;
}

.assetThree {
  top: 249px;
}

.asset_One {
  top: 19px;
}

.asset_Two {
  top: 134px;
}

.asset_Three {
  top: 249px;
}

.assetOne:hover {
  cursor: pointer;
}

.assetTwo:hover {
  cursor: pointer;
}

.assetLogo {
  height: 24px;
}

.circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #D889C2;
  /* change this to the color you want */
  border-radius: 50%;
  /* makes it circular */
  margin-right: 10px;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.m-space {
  margin: 24px;
}

.in-flex {
  display: inline-flex;
}

.swapButton {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  color: #FFFFFF;
  transition: 0.3s;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  width: 440px;
  height: 28px;
  padding: 14px 0px 14px 0px;
  margin: 10px;
  gap: 10px;
  background: #A7CF0AA8;
}

.swapButton[disabled] {
  background-color: #4B4D54;
  color: #8C8383;
}

.swapButton[disabled]:hover {
  cursor: not-allowed;
  background-color: #4B4D54;
}

.swapButton:hover {
  cursor: pointer;
  background-color: #3b4874
}

.tokenLogo {
  height: 40px;
  width: 40px;
}

.modalContent {
  border-top: 1px solid #363e54;
  /* padding-top: 20px; */
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px
}

.tokenChoice {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tokenChoice:hover {
  cursor: pointer;
  background-color: #1f2639;
}

.tokenName {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 500;
}

.tokenTicker {
  margin-left: 10px;
  font-size: 13px;
  font-weight: 300;
  color: #51596f;
}

.m_v_24 {
  margin: 24px 0;
}

@keyframes rotatingBoxShadow {
  0% {
    box-shadow: 11px 0 5px -2px #A7CF0AA8;
  }

  25% {
    box-shadow: 0 11px 5px -2px #A7CF0AA8;
  }

  50% {
    box-shadow: -11px 0 5px -2px #A7CF0AA8;
  }

  75% {
    box-shadow: 0 -11px 5px -2px #A7CF0AA8;
  }

  100% {
    box-shadow: 10px 0 5px -2px #A7CF0AA8;
  }

  /* 0% {
    box-shadow: -20px 10px 42px 15px rgba(167, 207, 10, 0.65);
  }
  50% {
    box-shadow: 20px 10px 42px 15px rgba(167, 207, 10, 0.65);
  }
  100% {
    box-shadow: -20px 10px 42px 15px rgba(167, 207, 10, 0.65);
  } */
}

.rotating-shadow {
  animation: rotatingBoxShadow 2s linear infinite;
  position: relative;
}

.disable_btn {
  cursor: none;
  background: #82a008a8;
}

.ext {
  height: 70px;
}

.tx_link {
  color: white;
}